//Fonts

$font-main: "Raleway", sans-serif;
$font-accent: "Playfair Display", serif;
$font-additional: "Roboto", sans-serif;

//Colors

$dark: #242B33; 
$accent: #D4C17F;
$white: #FFF;
$footer-bg: #2D343C;
$placeholder: #bebebe;
$fading: #e7e7e7;